/*Main Parts*/

body 
{   
   /*background-image:url(/Images/GrayCarbonFiber.jpg);
       
    background-repeat:repeat-y;
    background-size:cover;*/

    padding: 5px;
    font-family: Consolas;
}

#homelogo
{
    height:70px;
}

#rightside
{
    float:right;
    width:30%;
    height:600px;
    border:thin solid #000000;
}

#maincontent
{
    float:left;
    width: 65%;
    height:600px;
}

#footer
{
    clear:both;
    
}

#headerabout
{
    font-family: 'Myriad Pro';
}

/*Menu Buttons*/

#banner
{
    font-family:Consolas;
    
}

#home
{
    font-family:Consolas;
    height:25px;
}

#about
{
    font-family:Consolas;
}

#new
{
    font-family:Consolas;
}

#buy
{
    font-family:Consolas;
}

#products
{
    font-family:Consolas;
}

#contact
{
    font-family:Consolas;
}

/*Other*/



/*New webform*/

#PurchaseButton1
{
    
}

/*Buy Now webform*/
#leftsidebox
{
    width:616px;
    position:absolute;
    top: 158px;
    left: 13px;
    height: 825px;
    background-color: #999999;
    z-index:-1;
}
#btn1
{
    position:absolute;
}
#rightsidebox
{
    width:412px;
    position:absolute;
    top: 188px;
    left: 629px;
    height: 579px;
    background-color: #333333;
    color: #FFFFFF;
}
#rightsideboxoutline
{
    width:368px;
    position:absolute;
    top: 208px;
    left: 652px;
    height: 535px;
    background-color: #999999;
    color: #FFFFFF;
}
#lbl1buynow
{
    position:absolute;
    z-index:3;
}
#signinbox
{
    width:319px;
    position:absolute;
    top: 294px;
    left: 676px;
    height: 190px;
    color: #333333;
    background-color: #333333;
}
#usernamepic
{
    width:200px;
    position:absolute;
}
#passwordpic
{
    width:200px;
    position:absolute;
}
#tbusername1
{
    position:absolute;
    width:200px;
}
#PriceLabel1
{
    float:inherit;
    padding-left:20px;
}

#Newdescription
{
    float:right;

}

#Newlogo
{
    float:left;
    margin-left:px;
}