/*Main Parts*/
/*!!!!!!!!!!HEY LOOK AT THIS!!!!!!!!
    Make new sections for what you're working 
    on so we don't have conflicts. Use the comment 
    thing to designate areas sort of like I've been doing
    Also put them in different places:
    Nabeel put them above the body tag
    John: above the homelogo tag
    Moriah: about the rightside tag
    Grant: above the maincontent tag
    */


body 
{   
    padding: 5px;
    font-family: Consolas;
}

/*John*/
#AboutLogo
{
    height:350px;
    float:right;
}

#Newgamelogo
{
    height:350px
}
/*John*/

#homelogo
{
    height:70px;
}

#rightside
{
    float:right;
    width:30%;
    height:600px;
    border:thin solid #000000;
    font-family:Consolas;
}

/*Grant*/

#Content1
{
    background-color:gold;
}

#Masterrightlinkbtn
{
    font-style:italic;
}

#Masterrightsideborder
{
    margin:1px;
    padding:1px;
    border:ridge 2px;
    
}

#Newgamelogo
{
    height:300px;
}

#hr
{
    width:65%;
    float:left;
}
/*Grant*/

#maincontent
{
    float:left;
    width: 65%;
    height:600px;
    /*background-color:green;*/
}

#footer
{
    clear:both;
    
}

#headerabout
{
    font-family: 'Myriad Pro';
}

/*Menu Buttons*/

#banner
{
    font-family:Consolas;
    
}

#home
{
    font-family:Consolas;
    height:25px;
}

#about
{
    font-family:Consolas;
}

#new
{
    font-family:Consolas;
}

#buy
{
    font-family:Consolas;
}

#products
{
    font-family:Consolas;
}

#contact
{
    font-family:Consolas;
}

/*Other*/



/*New webform*/

#PurchaseButton1
{
    position:relative;
    top: 73px;
    left: -333px;
}

#PriceLabel1
{
    position:relative;
    top: -400px;
    left: 130px;
}

#Newdescription
{
    position:relative;
    top: -293px;
    left: 313px;
    width: 377px;
}

#Contactsendbutton
{
    margin-left:230px;
}

#Newlogo
{
    float:left;
    
}