/*Main Parts*/

body 
{   
    padding: 5px;
    font-family: Consolas;
}

#homelogo
{
    height:70px;
}

#Masterrightlinkbtn
{
    font-style:italic;
}

#Masterrightsideborder
{
    margin:1px;
    padding:1px;
    border:ridge 2px;
}

#hr
{
    width:65%;
    float:left;
}

#rightside
{
    float:right;
    width:30%;
    height:450px;
    border:thin solid #000000;
    font-family:Consolas;
}

#maincontent
{
    float:left;
    width: 65%;
}

.footer
{
    clear:both;
    font-family:'Myriad Pro';
}

#headerabout
{
    font-family: 'Myriad Pro';
}

/*Main parts end*/

/*Menu Buttons*/

#banner
{
    font-family:Consolas;
}

#home
{
    font-family:Consolas;
    height:25px;
}

#about
{
    font-family:Consolas;
}

#new
{
    font-family:Consolas;
}

#buy
{
    font-family:Consolas;
}

#products
{
    font-family:Consolas;
}

#contact
{
    font-family:Consolas;
}

/*Menu buttons end*/



/*About*/

#AboutLogo
{
    height:350px;
    float:right;
}

/*About end*/


/*Contact*/

#Contactsendbutton
{
    margin-left:230px;
}

/*Contact end*/


/*Home*/

.Home15years
{
    position:relative;
    top: 5px;
    left: -60px;
    height: 317px;

}

.Homenewgame
{
    position:relative;
    top: 5px;
    left: -60px;
    height: 254px;

}

/*Home end*/


/*New*/

#Newgamelogo
{
    position:relative;
    top: 11px;
    left: -2px;
    height: 400px;
    
}

#Newpurchasebutton
{
    position:relative;

}

#Newdescription
{
    position:relative;
    top: 2px;
    left: 9px;
    width: 377px;
}

#Newheader
{
    position:relative;
    font-size:22px;
    top: 29px;
    left: 9px;
    width: 360px;
    margin-top: 0px;
}

#Newpurchaselabel
{
    position:relative;
    top: 35px;
    left: 12px;
    width: 77px;
}

.Newdementiademo
{
    position: relative;
    top: -61px;
    left: 7px;
    height: 399px;
    width: 618px;
}

/*New end*/