body 
{

}

#homelogo
{
    height:70px;
}

/*Nabeel Buynow*/

#leftsidebox
{
    width:616px;
    position:absolute;
    top: 158px;
    left: 13px;
    height: 709px;
    background-color: #999999;
    z-index:-1;
}

#leftsideboxoutline
{
    position:absolute;
    width:200px;
    height:200px;
}

#Button1
{
    position:absolute;
    top: 757px;
    left: 24px;
    width: 91px;
    height: 34px;
    margin-top: 0px;
}

#rightsidebox
{
    width:412px;
    position:absolute;
    top: 183px;
    left: 629px;
    height: 684px;
    background-color: #555555;
}

#rightsideboxoutline
{
    width:368px;
    position:absolute;
    top: 206px;
    left: 648px;
    height: 535px;
    background-color: #444444;
    color: #FFFFFF;
    border:5px inset green;   
}

#lbl1buynow
{
    position:absolute;
}

#signinbox
{
    width:319px;
    position:absolute;
    top: 294px;
    left: 674px;
    height: 200px;
    color: #333333;
    background-color: #333333;
}

#usernamepic
{
    width:28px;
    position:absolute;
    top: 313px;
    left: 690px;
    height:23px;
    background-image:url('/Images/userimage.png');
    z-index:2;
}

#passwordpic
{
    width:29px;
    position:absolute;
    top: 391px;
    left: 690px;
    height: 23px;
    background-image:url('/Images/lock.png');
    z-index:2;
    right: 791px;
}

#LoginButton1
{
    position:absolute;
    top: 160px;
    left: 121px;
    border-style:inset;
    background-color: #336600;
}


#Quadcorelogo
{
    width:315px;
    position:absolute;
    top: 509px;
    left: 678px;
    height: 218px;
    background-repeat:no-repeat;
    background-image:url(/Images/DementiaDistortedComplete.png);
}

#leftsideoutline
{
    width:591px;
    position:absolute;
    top: 196px;
    left: 15px;
    height: 606px;
    color: #808080;
    background-color: #333333;
    z-index:-1;
    border:5px inset green;
}

#pageoutline
{
    width:1335px;
    height:869px;
    position:absolute;
    top: 97px;
    left: 3px;
    z-index:-2;
}

#buttonbuynow1
{
    border: medium inset green;
    position:absolute;
    top: 763px;
    left: 238px;
    z-index:auto;
    right: 1197px;
    background-color: #336600;
}

#Submit1
{
    position:absolute;
    top: 808px;
    left: 788px;
}


/*Buynow end*/
/*Moriah: Products*/

.Pacman
{
    background-image:url(/Images/1367506854_4006_Pac-Man.jpg);
    background-repeat:no-repeat;
    position:relative;
    float:left;
}


.PriceText
{
    float:left;
    
}

#Pacmantext
{
    position:relative;
    width:300px;
}

#Pacmanimage
{
    float:left;
    width:60%;
    top: 0px;
    left: 0px;
}

.Minecraft
{
    background-image:url(/Images/Minecraft_Steam_Icon.png);
    background-repeat:no-repeat;
}

#Minecrafttext
{
    position:relative;
}

.Portal
{
    background-image:url(/Images/portal1.jpg);
    background-repeat:no-repeat;
}

#Portaltext
{
    position:relative;
}

.SuperMario
{
    background-image:url(/Images/super-mario-logo.jpg);
    background-repeat:no-repeat;
}

#SuperMariotext
{
    position:relative;
}

.LegendofZelda
{
    background-image:url(/Images/The-Legend-of-Zelad-1.jpg);
    background-repeat:no-repeat;
}

#Zeldatext
{
    position:relative;
}

#background
{
    width:200px;
    position:absolute;
    height:200px;
    z-index:-1;
    background-color:limegreen;
}

}
/*Products end*/
