body 
{

}

#homelogo
{
    height:70px;
}

/*Nabeel Buynow*/
/*Buynow end*/
/*Moriah Products*/

.Pacman
{
    background-image:url(/Images/1367506854_4006_Pac-Man.jpg);
    background-repeat:no-repeat;
}

.Minecraft
{
    background-image:url(/Images/Minecraft_Steam_Icon.png);
    background-repeat:no-repeat;
}

.Portal
{
    background-image:url(/Images/portal1.jpg);
    background-repeat:no-repeat;
}

.SuperMario
{
    background-image:url(/Images/super-mario-logo.jpg);
    background-repeat:no-repeat;
}

.LegendofZelda
{
    background-image:url(/Images/The-Legend-of-Zelad-1.jpg);
    background-repeat:no-repeat;
}

/*Products end*/
